<html>
<body>
	<ul style="background-color: rgb(161, 161, 214);"
	class="nav">
		<li style="border-right: .5px solid rgb(147, 147, 194);" 
		class="nav-item">
			<a style="color: black;
						font-weight: bold;"
			class="nav-link active" aria-current="page" href="index">inicio</a>
		</li>
		
		<li style="border-right: .5px solid rgb(147, 147, 194);" 
		class="nav-item">
			<a style="color: black;
						font-weight: bold;"
			class="nav-link" href="acercade">Acerca de</a>
		</li>
	
		<li class="nav-item">
			<a style="color: black;
						font-weight: bold;" 
			class="nav-link" href="contactosList">contactos</a>
			</li>
	</ul>
	
</body>
</html>



